
/*.wrapper{
border-radius: 20px,
align-items: center;
}*/
/*body {
  background: #3C5A99;
}*/
.result{
  display: none;

}
body{
  background-image: url('../img/beach-bac.jpg');
}
.hide-bg{
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


}
h1{
  width: 400px;
}
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.wrapper{

  width: 400px;
  margin: auto;
  height: auto;
  padding: 15px;
  border-radius: 25px;
  border-style: solid;

}
#footer{
  clear: both;
  padding: 10px;
  text-align: right;
}
